# Server Configuration
PORT=8000
HOST=127.0.0.1
DEBUG=True

# Database / Supabase Configuration
DATABASE_URL=postgresql://postgres.stncyvhjbtmutxsvuuxj:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require
SUPABASE_URL=https://stncyvhjbtmutxsvuuxj.supabase.co
SUPABASE_KEY=your-supabase-anon-key-here
SUPABASE_SECRET_KEY=your-supabase-service-role-secret-key-here


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name-here
CLOUDINARY_API_KEY=your-cloudinary-api-key-here
CLOUDINARY_API_SECRET=your-cloudinary-api-secret-here

# Sentry Error Monitoring Configuration
SENTRY_DSN=

# Security Session Token Key
SECRET_KEY=super-secret-key-change-in-production

